# Environnement Python
venv/
env/

# Cache Python
__pycache__/
*.pyc

# Modèles IA
*.pth
model.pth
*.pkl

# Dataset
*.csv
dataset/

# Fichiers PDF
*.pdf

# Système
.DS_Store


node_modules
Thumbs.db

.expo
ios
